-
	var skills = [
	{
	title : "Frontend",
	skillsGroup : [["HTML 5", ".8"], ["CSS 3", ".8"], ["JavaScript & jQuery", ".4"]]
	},
	{
	title : "Backend",
	skillsGroup : [["PHP", ".3"], ["mySQL", ".2"], ["Node.js & npm", ".5"], ["Mongo.db", ".3"]]
	},
	{
	title : "Workflow",
	skillsGroup : [["Git", ".5"], ["Gulp", ".6"], ["Bower", ".7"], ["Yarn", ".3"]]
	}
	]

	var contacts = [["skype", "kroklya"], ["envelope", "krobox@gmail.com"], ["phone", "+7 999 999 99 99"], ["map_marker", "Москва, ул. Бауманская, 1"]]
