.about.about-col.about-col_left
	svg(class="about__triangle" viewBox="0 0 1000 110" preserveAspectRatio="none")
		polygon(points="0,0 0,110 1000, 110")
	.about__title-wrap
		svg.about__svg
			use(xlink:href="assets/img/sprite.svg#about_header")
		h1.about__title Обо мне
	img.about__pic(src="assets/img/userbig.jpg")
	h2.about__subtitle Кто я
	.about__text
		p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
		p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
