.about.about-col.about-col_left
	h1.about__title Обо мне
	img.about__pic(src="assets/img/user.jpg")
	h2.about__subtitle Кто я
	.about__text
		p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
		p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
