.about
	display: flex
	flex-direction: column
	justify-content: start
	align-items: center
	padding-bottom: 20px

	&__title
		+title('big')
		display: inline-block
		//margin-bottom: 50px
		&-wrap
			position: relative
			width: 100%
			padding: 40px 0
			text-align: center
	&__svg
		+title-pic
	&__subtitle
		+title('medium')
		margin: $m-section 0
	&__pic
		max-height: 400px
	&__text
		font-size: $f-norm
		font-family: $roboto
		padding: 0 75px
		p
			margin-bottom: $m-p