extends ../layout

block variables
	- var title = 'About'
	- var page = 'about'

block content
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBuO4bimDe5gMGAPF6QAr2Id19LziWXsE")
	.wrapper
		.maincontent
			include ../sections/header
			.about__wrap
				include ./about/about
				include ./about/skills

		include ./about/contacts

		include ../sections/footer


