extends ../layout

block content
	- var title = 'Blog'
	- var page = 'blog'

	.wrapper
		.maincontent
			include ./blog/header_sidebar
			.blog
				include ./blog/sidebar
				include ./blog/content

		include ../sections/footer
