extends ../layout

block variables
	- var title = 'Авторизация'
	- var page = 'index'

block content

	.wrapper.wrapper_index
		.maincontent.maincontent_index
			.authorization__btn
				a.authorization__btn-link(href="#") Авторизоваться
			.flip-container.index__container
				.flip-front
					include ./index/welcome
				.flip-back
					include ./index/authorization

		include ../sections/copyright

