extends ../layout

block content
	- var title = 'Works'
	- var page = 'works'

	.wrapper
		.maincontent
			include ../sections/header
			include ./works/works
			include ./works/reviews
		include ../sections/footer