.welcome
	include ../../sections/user
	+socials('welcome', ['vk', 'github', 'in'], ['https://vk.com/kate_kro', 'https://github.com/Ludvik4', '#'])
	+nav('index', ['Мои работы', 'Обо мне',  'Блог'], ['/works.html', '/about.html', '/blog.html'])