section.section_works#works
	.works__title-wrap
		h1.works__title Мои работы
		svg.works__title-svg
			use(xlink:href="assets/img/sprite.svg#works_header")
	.works.slider_works
		.works__col.works__col_left
			.works__name Site name
			.works__desc Technologies used
			a.works__link(href="#") Site link
		.works__col.works__col_right
			.works__preview
				img.works__preview-img(src="assets/img/work-2.png")
			.works__trigger-wrap
				.works__trigger.works__trigger_left
					a.works__arrow.works__arrow_down(href="#")
						svg.arrow__svg
							use(xlink:href="assets/img/sprite.svg#portf_arrow_down")
					img.works__trigger-img(src="assets/img/work-1.png")
				.works__trigger.works__trigger_right
					a.works__arrow.works__arrow_up(href="#")
						svg.arrow__svg
							use(xlink:href="assets/img/sprite.svg#portf_arrow_up")
					img.works__trigger-img(src="assets/img/work-3.png")


